config/*
!config/README
images/ads/*
images/overlays/*
photos_*/
photos_*/**
!images/ads/theboothbrothers1.jpg
!images/ads/theboothbrothers2.jpg
!images/overlays/theboothbrothers.png
ota/img-l
ota/img-m
ota/img-s
XuBooth-tmp-vars.sh
XuBooth.lock
ota-conf/*.orig
ota/.htpasswd
ota/hostapd.deny
ota/dnsmasq.leases
images/stickers/*
!images/stickers/theboothbrothers1.png
!images/stickers/theboothbrothers2.png
images/intermission/*
!images/intermission/theboothbrothers1.gif
!images/intermission/theboothbrothers2.gif
