config/*
!config/README
!config/editor/
images/ads/*
!images/ads/theboothbrothers1.jpg
!images/ads/theboothbrothers2.jpg
images/ads-mosaic/*
!images/ads/theboothbrothers.jpg
images/disclaimer/*
!images/disclaimer/theboothbrothers1.jpg
!images/disclaimer/theboothbrothers2.jpg
images/overlays/*
!images/overlays/theboothbrothers.png
images/picstrip/*
!images/picstrip/theboothbrothers.jpg
images/stickers/*
!images/stickers/theboothbrothers1.png
!images/stickers/theboothbrothers2.png
images/intermission/*
!images/intermission/theboothbrothers1.gif
!images/intermission/theboothbrothers2.gif
ota/.htpasswd
ota/dnsmasq.leases
ota/hostapd.deny
ota/img-l
ota/img-m
ota/img-s
ota/img-ads
ota-conf/*.orig
ota-ssh-keys/*
!ota-ssh-keys/README
!ota-ssh-keys/theboothbrothers
!ota-ssh-keys/theboothbrothers.pub
photos_*/
photos_*/**
XuBooth.lock
XuBooth-picstrip-finished.yes
XuBooth-picstrip-timeout.yes
XuBooth-picstrip-timeout.pid
XuBooth-tmp-vars.sh
